# Common
dist
node_modules
.eslintcache
vite.config.*.timestamp*

# MacOS
.DS_Store

# Local env files
*.local

# Logs
*.log

# Use pnpm
package-lock.json
yarn.lock

# Backend data (local only)
backend/data
